<app-header></app-header>
<main class="container">
  <app-question-generator
    (generateQuestion)="onGenerateQuestion($event)"
  ></app-question-generator>

  <ng-container *ngIf="currentQuestion">
    <app-question-display
      [question]="currentQuestion"
      (answerSelected)="onAnswerSelected($event)"
    ></app-question-display>

    <div *ngIf="showFeedback" class="feedback-message">
      <p [class.correct]="isAnswerCorrect" [class.incorrect]="!isAnswerCorrect">
        {{ feedbackMessage }}
      </p>
      <button class="btn btn-primary" (click)="showResolution()">
        Ver Resolução
      </button>
      <button class="btn btn-secondary" (click)="resetQuestion()">
        Gerar Nova Questão
      </button>
    </div>

    <app-resolution-display
      *ngIf="displayResolution"
      [resolution]="currentResolution"
    ></app-resolution-display>
  </ng-container>

  <div *ngIf="isLoading" class="loading-spinner">Carregando...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</main>